<div>
    <span class="slide_button glyphicon glyphicon-chevron-left"></span>
</div>
<ul class="nav_side nav nav-pills nav-stacked">
    <li><a module="home">主页<span class="glyphicon glyphicon-home pull-right"></span></a></li>
    <li><a module="equipment_monitor">设备监控<span class="glyphicon glyphicon-dashboard pull-right"></span></a></li>
    <li><a module="equipment_logging">设备日志<span class="glyphicon glyphicon-list pull-right"></span></a></li>
    <li><a module="equipment_management">设备管理<span class="glyphicon glyphicon-wrench pull-right"></span></a></li>
    <li><a module="protocol_management">协议管理<span class="glyphicon glyphicon-pencil pull-right"></span></a></li>
</ul>